
div(class="main")
  .row.text-center.padding-20-0
    div(class="col-md-12")
      div(class="headof")
        div(class="for")
          h1 Контакты
          p По всем возникающим вопросам писать в нашу базу знаний: toolihelp.com в "Приватный запрос" (слева вверху кнопка "ЗАДАТЬ ВОПРОС") или в "Общий". А также в Telegram.
          p По вопросам перепривязки на другой компьютер, добавления аккаунтов после покупки, по всем вопросам, связанных с лицензией писать в нашу базу знаний: toolihelp.com



.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Скачать сейчас

