
div(class="main")
  .row.text-center.padding-20-0
    div(class="col-md-12")
      div(class="headof")
        div(class="for")
          h1 Что умеет?
          p Программа для профессионального продвижения в Pinterest
          p Сервис для автоматизации работы, привлечения клиентов, арбитража трафика


.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Скачать сейчас
