.container
  div(class="main")
    .row.text-center.padding-20-0
      div(class="col-md-12")
        div(class="headof")
          div(class="for")
            h1 Что умеет?
            p
              strong 1. Массовый лайкинг
            p Это функция, благодаря которой Вашу страницу заметят живые люди. Есть 2 вида массового лайкинга: по хеш-тегам и по списку пользователей. В первом случае Вы задаёте список хеш-тегов, по которым хотите, чтобы ставились лайки, и программа начинает лайкать фотографии по заданным хеш-тегам. Во втором случае лайкинг по списку пользователей. С помощью функции "Сбор пользователей" мы собираем базу пользователей, добавляем эту базу для лайкинга по списку, и программа начинает ходить по этим пользователям, проставляя лайки на их фотографии. Нужно отметить, что с помощью функции сбора пользователей Вы можете собрать максимально тематическую для вашего аккаунта базу, что повысит эффект продвижения и даст вам качественную живую Целевую Аудиторию.

            p
              strong 2. Массовая подписка
            p Это функция, аналогично отвечающая принципу работы функции массовый лайкинг. Делает всё тоже самое, только вместо лайков Вы подписываетесь на пользователей. За счет этого пользователи обращают на Вас внимание и подписываются на Вас взаимно. В совокупности с другими функциями можно добиться максимальной отдачи.

            p
              strong 3. Отписка
            p Это функция поможет Вам избавиться от нежелательных подписок. С помощью данной функции Вы сможете отписаться от тех людей, которые взаимно на вас не подписаны. Таким образом, количество подписчиков у Вас будет увеличиваться, а количество Ваших подписок можно всегда держать на одном уровне, читая интересные Вам страницы.

            p
              strong 4. Менеджер аккаунтов
            p Это функция, благодаря которой Вы сможете продвигать Ваши услуги сразу с нескольких аккаунтов. Или же, предоставляя услуги по продвижению, продвигать сразу несколько проектов в Instagram'е.

            p
              strong 5. Сбор пользователей
            p Это самая интересная функция в программе, содержащая в себе несколько направлений. За счет этой функции можно собрать качественную, живую, активную аудиторию Instagram'а, которая по своим интересам или географическому положению максимально соответствует тематике Вашего аккаунта.

            p Варианты сбора пользователей:

            p 
              i.fa.fa-check 
              |  Сбор подписчиков/подписок Ваших конкурентов.
            p 
              i.fa.fa-check 
              |  Сбор по гео-локации.
            p 
              i.fa.fa-check 
              |  Сбор по хеш-тегам.
            p 
              i.fa.fa-check 
              |  Сбор активной и живой аудитории (то есть собираются люди, которые лайкнули или оставили комментарий под постами аккаунта конкурента, очень эффективно!)
            p 
              i.fa.fa-check 
              |  Анализ аудитории по хеш - тегам и гео точкам.
            p 
              i.fa.fa-check 
              |  Фильтрация аудитории (на количество подписчиков, подписок, аватарку, количество дней последней записи, ПОЛ.
            p 
              i.fa.fa-check 
              |  Самое интересное - это возможность сбора по многим критериям, включающие такие, как количество подписчиков, количество подписок, последняя публикация фотографии и количество публикаций. Это и позволяет выбрать только самых активных пользователей.

            p
              strong 6. Комментирование

            p Эта функция позволяет Вам проявлять еще больше активности среди общества в Instagram. Вы можете в автоматическом режиме благодарить пользователей за фото в комментариях или же выражать свое восхищение фото. Это позволяет привлечь внимание к Вашему аккаунту. А вместе с функциями подписки и лайкинга повысить ответные подписки и увеличить активность в комментариях на Вашем аккаунте.


section.download
  .container
    .row.text-center
      .col-md-12
        .jumbotron
          p
            a.btn.btn-success.btn-lg(href="/releases")
              | Скачать сейчас
