
.row.text-center
  .col-md-12
    h2 InstaFilter PRO это:
      
.row.text-center.padding-20-0
  .col-md-4
    i.fa.fa-4x.fa-search
    h4 Сбор аудитории по огромному количеству критериев без авторизации
  .col-md-4
    i.fa.fa-4x.fa-user-plus
    h4 Регистрация аккаунтов с полной эмуляцией нескольких видов мобильных устройств
  .col-md-4
    i.fa.fa-4x.fa-line-chart
    h4 Высокая скорость работы и ведение более 1000+ аккаунтов с одного ПК одновременно
  //- img(src="./images/CybSzRB5TV.gif" style="display:block;width:40%;"  class="img-fluid" alt="Responsive image")

.row.text-center.padding-20-0
  a.btn.btn-warning.btn-lg(
          ng-click="softDetailShow()"
          )
    | Подробное описание программы


.row.text-center.padding-20-0
  .payment
    | Программа InstaFilter PRO платная, ее стоимость – 3000 руб., оплата единоразовая, обновления бесплатные.
    | Для активации программы, свяжитесь с нами по E-mail: 
    b 
      |  support@mailglobals.co

.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Скачать сейчас
